<%= stylesheet_link_tag "_search", media: "all" %>
<div class="row">
  <div class="col-lg-10 offset-lg-1">
    <%= search_form_for q, url: url, method: :get, html: { class: "form-inline" } do |f| %>
      <div class="form-group" data-controller="autocomplete" data-autocomplete-url-value="<%= search_autocomplete_path %>">
        <%= f.label :name_or_address_cont, "店名または住所", class: "form-label" %>
        <%= f.search_field :name_or_address_cont, id: "name_or_address_cont",
              class: "form-control",
              placeholder: "店名または住所を入力してください",
              data: { action: "input->autocomplete#search", autocomplete_target: "input" } %>
        <ul data-autocomplete-target="results" class="autocomplete-results list-group mt-2"></ul>
      </div>
      <div class="form-group mt-2">
        <%= f.submit "検索", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
