<div class="container">
  <%= stylesheet_link_tag 'new', media: 'all' %>
  <div class="row">
    <div class="col_md-10 col-lg-8 mx-auto text-center">
      <h1 class="font-weight-bold">新規ユーザー登録</h1>
      <%= form_with model: @user do |f| %>
        <div class="mb-3">
          <%= f.text_field :name, class: "form-control", placeholder: 'ニックネーム'%>
        </div>
        <div class="mb-3">
          <%= f.email_field :email, class: "form-control", placeholder: 'メールアドレス'%>
        </div>
        <div class="mb-3">
          <%= f.password_field :password, class: "form-control", placeholder: 'パスワード'%>
        </div>
        <div class="mb-3">
          <%= f.password_field :password_confirmation, class: "form-control", placeholder: 'パスワード確認'%>
        </div>
        <%= f.submit "登録", class: "text-primary btn btn-primary btn-lg", style: "background-color: #ffeb3b; border-color: #ffeb3b;" %>
      <% end %>
      </div>
    </div>
  </div>
</div>