<%= stylesheet_link_tag "new_sessions", media: "all" %>
<div class="container">
  <div class="row">
    <div class=" col-md-10 col-lg-8 mx-auto text-center">
      <h1 class="font-weight-bold">ログイン</h1>
      <%= form_with url: login_path, lacal: true do |f| %>
        <div class="mb-3">
          <%= f.email_field :email, class: "form-control", id: "user_email", placeholder: "メールアドレス" %>
          <div class="error-message"></div>
        </div>
        <div class="mb-3">
          <%= f.password_field :password, class: "form-control", id: "user_password", placeholder: "パスワード（6文字以上半角英数字のみ）" %>
          <div class="error-message"></div>
        </div>
        <%= f.submit t(".login"), class: "text-primary btn btn-primary btn-lg", style: "background-color: #ffeb3b; border-color: #ffeb3b; margin: 30px" %>
      <% end %>
      <div class="text">
        <%= link_to t(".to_register_page"), new_user_path, class: "text-link" %>
      </div>
      <div class="text">
        <%= link_to "パスワードをお忘れの方はこちら", new_password_reset_path, class: "password-reseet" %>
      </div>
      <div class="text">
        <%= link_to "Googleアカウントでログイン", auth_at_provider_path(provider: :google), class: "google-login" %>
      </div>
    </div>
  </div>
</div>
<div class="footer-css">
  <%= render "shared/footer" %>
</div>
